@font-face {
    font-family: 'Zen';
    src: url(fonts/ZenDots-Regular.ttf);
}

@font-face {
    font-family: 'Patrick';
    src: url(fonts/PatrickHand-Regular.ttf);
}

@font-face {
    font-family: 'Puff';
    src: url(fonts/DynaPuff-Regular.ttf);
}

@font-face {
    font-family: 'Rocher';
    src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

:root {
    --font-color: #d9c4a6;
}

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Patrick';
}

body {
    background: #fff;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

button {
    border: none;
    outline: none;
    background: none;
}


header {
    position: fixed;
    width: 100%;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

.navigation li {
    background: #222;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 8px;
}

.navigation li a {
    font-size: 1.4em;
    text-transform: uppercase;
    color: var(--font-color);
}

header .logo {
    position: relative;
    display: inline-flex;
    color: #000;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.rightSide {
    display: flex;
}

.btns {
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 50%;
}

.btns ion-icon {
    font-size: 1.8em;
    color: var(--bglight);
}

.btns ion-icon:nth-child(2) {
    display: none;
}

.btns .menuToggle ion-icon {
    display: none;
}

.btns.active ion-icon:nth-child(2) {
    display: block;
}

.btns.active ion-icon:nth-child(1) {
    display: none;
}

section {
    display: flex;
    padding: 3em;
    flex-direction: column;
    width: 100%;
}

.hero {
    padding: 5em 0em;
    display: flex;
    gap: 1em;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.heroLeft {
    flex-basis: 35%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.heroLeft img {
    width: 450px;
    height: 450px;
    object-fit: cover;
    border-radius: 8px;
}

.heroRight {
    flex-basis: 65%;
    display: flex;
    flex-direction: column;
    height: 450px;
    padding: 2em;
    gap: 1em;
}

.heroRight h2 {
    text-transform: uppercase;
    font-size: 5em;
    font-family: 'Zen';
}

.heroRight p {
    font-size: 1.75em;
    background: rgba(0,0,0,0.8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content {
    display: flex;
    gap: 3em;
    width: 100%;
}

.contentLeft {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.contentLeftUp {
    display: flex;
    flex-direction: column;
    gap: .75em;
}

.contentLeftUp h4 {
    text-transform: uppercase;
    font-size: 3em;
    font-family: 'Zen';
}

.contentLeftUp p {
    font-size: 1.4em;
    background: rgba(0,0,0,0.8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contentLeftDown {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.language {
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
}

.language h4 {
    text-transform: uppercase;
    font-size: 2em;
    font-family: 'Zen';
    text-align: end;
}

.language:nth-child(4) {
    border: none;
}

.language h6 {
    text-align: end;
    font-size: 1.3em;
    text-transform: uppercase;
    background: rgba(0,0,0,0.5);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contentRight {
    flex-basis: 50%;
}

.contentRight img {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
    height: 550px;
}

button {
    font-family: inherit;
    font-size: 18px;
    background: #000;
    color: white;
    padding: 0.8em 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
  }
  
  button:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  }
  
  button:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  button span {
    display: block;
    margin-left: 0.4em;
    transition: all 0.3s;
  }
  
  button svg {
    width: 18px;
    height: 18px;
    fill: white;
    transition: all 0.3s;
  }
  
  button .svg-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 0.5em;
    transition: all 0.3s;
  }
  
  button:hover .svg-wrapper {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  button:hover svg {
    transform: rotate(45deg);
  }
  
  

.projects {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;
    padding: 7em 0em 2em 0em;
}

.project {
    padding: 1em;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    height: 550px;
    width: 463px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-radius: 1em;
    border-bottom: 5px solid rgba(0,0,0,0.1);
    border-top: 5px solid rgba(0,0,0,0.1);
    margin-bottom: 1em;
}

.project:hover {
    border-bottom: 5px solid #d9c4a6;
    border-top: 5px solid #d9c4a6;
}

.imgBx {
    width: 100%;
    height: 250px;
}

.imgBx img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.abtBx {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 300px;
}

.abtBx h4 {
    font-size: 2em;
    text-transform: uppercase;
}

.abtBx p {
    font-size: 1.25em;
}

.others {
    columns: 3 250px;
    gap: 1em;
    width: 100%;
    padding: 2em 0em 2em 0em;
    break-inside: avoid;
}

.others a {
    width: 100%;
    height: 400px;
}

.skill {
    overflow: hidden;
    width: 100%;
    height: 400px;
    position: relative;
    margin-bottom: 1em;
    border-radius: 1em;
}

.skill img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s;
    border-radius: 1em;
}

.skill::before {
    content: 'View';
    position: absolute;
    width: 85px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #efefef;
    font-size: 1.35em;
    text-transform: uppercase;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: .5s;
    z-index: 10;
}

.skill:hover::before {
    opacity: 1;
}

.skill img:hover {
    scale: 1.05;
}

footer {
    width: 100%;
    background: #333;
    padding: 1.5em;
}

.downFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.downFooter h4 {
    font-size: 1.25em;
    color: var(--font-color);
}

.downFooter button {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    font-size: 1.5em;
    text-transform: uppercase;
    background: none;
    outline: none;
}

.downFooter button i {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: var(--font-color);
}

/* -------------------------------------footer-------------------------------------------------- */

@keyframes animateIcon {

    0%,
    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }

    15% {
        transform: rotate(5deg) translate3d(0, 0, 0) scale(1.2);
    }

    30% {
        transform: rotate(-5deg) translate3d(0, 0, 0) scale(1.2);
    }

    45% {
        transform: rotate(3deg) translate3d(0, 0, 0) scale(1.2);
    }

    60% {
        transform: rotate(-3deg) translate3d(0, 0, 0) scale(1.2);
    }

    75% {
        transform: rotate(1deg) translate3d(0, 0, 0) scale(1.2);
    }

    90% {
        transform: rotate(-1deg) translate3d(0, 0, 0) scale(1.2);
    }
}

nav .fa-solid {
    display: none;
}

header .fa-bars {
    display: none;
}

@media only screen and (max-width:1285px) {
    .heroRight h2 {
        font-size: 4em;
    }

    .contentLeftUp h4 {
        font-size: 2.5em;
    }

    .language h4 {
        font-size: 1.5em;
    }
}

@media only screen and (max-width:1080px) {
    .heroRight h2 {
        font-size: 3em;
    }

    .heroRight p {
        font-size: 1.5em;
    }
}

@media only screen and (max-width:1000px) {
    .language h4 {
        font-size: 1.25em;
    }

    .contentLeftUp h4 {
        font-size: 2em;
    }

    .contentLeftUp p {
        font-size: 1.25em;
    }
}

@media only screen and (max-width:975px) {
    .heroLeft img {
        width: 350px;
        height: 350px;
    }

    .heroRight {
        height: 350px;
    }
}

@media only screen and (max-width:880px) {
    .heroRight h2 {
        font-size: 2em;
    }

    .heroRight p {
        font-size: 1.5em;
    }
}

@media only screen and (max-width:850px) {

    nav .fa-solid {
        display: block;
        font-size: 2em;
    }

    header {
        padding: 15px 1em;
    }

    header .fa-bars {
        display: block;
        font-size: 2em;
    }

    header nav {
        background: var(--font-color);
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        padding: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 3em;
    }

    header nav ul {
        flex-direction: column;
        gap: 2em;
    }

    header nav ul li {
        background: unset;
    }

    .navigation li {
        background: unset;
    }

    .navigation li a {
        color: #000;
    }

    .content {
        flex-direction: column-reverse;
    }

    .language h4 {
        font-size: 1.5em;
    }

    .contentLeftUp h4 {
        font-size: 2.5em;
    }

    .contentLeftUp p {
        font-size: 1.35em;
    }

    section {
        padding: 1em;
    }
}


@media only screen and (max-width:750px) {

    .heroLeft img {
        width: 200px;
        height: 300px;
    }
}

@media only screen and (max-width:620px) {
    .heroLeft {
        display: none;
    }

    .heroRight h2 {
        text-align: center;
        font-size: 3em;
    }
}

@media only screen and (max-width:550px) {
    .project {
        width: 375px;
        height: unset;
    }
}

@media only screen and (max-width:500px) {
    .language h4 {
        font-size: 1.15em ;
    }

    .contentLeftUp h4 {
        font-size: 1.75em;
    }

    .contentRight img {
        height: 400px;
    }

    footer {
        padding: 1em;
    }

    .downFooter h4 {
        font-size: 1.1em;
        color: var(--font-color);
    }
    
    .downFooter button {
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5em;
        font-size: 1.2em;
        text-transform: uppercase;
        background: none;
        outline: none;
    }
    
    .downFooter button i {
        width: 30px;
        height: 30px;
    }
}
