<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/project.css">
    <script src="https://kit.fontawesome.com/0cdc049c53.js" crossorigin="anonymous"></script>
    <title>Afnan.</title>
</head>

<body>
    <header>
        <nav id="menu">
            <i class="fa-solid fa-circle-xmark" onclick="closemenu()"></i>
            <a href="/#home" class="logo">
                
            </a>
            <ul class="navigation">
                <li onclick="btn()"><a href="/#home">Home</a></li>
                <li onclick="btn()"><a href="/#about">About</a></li>
                <li onclick="btn()"><a href="/#skills">Skills</a></li>
                <li onclick="btn()"><a href="/#projects">Projects</a></li>
                <li><a href="/css/fonts/Pink Simple Profile Resume.pdf" download="">Resume</a></li>
            </ul>
        </nav>
        <i class="fa-solid fa-bars" onclick="openmenu()"></i>
    </header>
    <section>
        <div class="hero">
            <div class="heroTitle">
                <h2>Anime Alchemy</h2>
                <p>A end to end Anime Recommendation System.</p>
            </div>
            <div class="heroBx">
                <div>
                    <h4>Made By</h4>
                    <h4>Shuaib Afnan</h4>
                </div>
                <div>
                    <h4>Github Repo</h4>
                    <a href="https://github.com/ShuaibAfnanSk/MachineLearning/tree/main/AnimeAlchemy"><h4>Click Here</h4></a>
                </div>
                <div>
                    <h4>Made With</h4>
                    <h4>Flask</h4>
                </div>
                <div>
                    <h4>Algorithm</h4>
                    <h4>Cosine Similarity</h4>
                </div>
            </div>
            <div class="heroImg">
                <img src="css/images/tanjirobg.jpg" alt="">
            </div>
        </div>
        <div class="content">
            <div class="desc">
                <h5>challenge</h5>
                <h4> Integrate multiple recommender algorithms to create a comprehensive anime recommendation system
                    catering to diverse user preferences.</h4>
            </div>
            <div class="desc">
                <h5>Goal</h5>
                <h4>Develop an all-in-one solution for anime enthusiasts, leveraging collaborative filtering,
                    content-based filtering, hybrid methods, and more.</h4>
            </div>
            <div class="desc">
                <h5>Result</h5>
                <h4>A Website combining diverse algorithms, delivering accurate and
                    personalized anime suggestions, and enhancing user engagement with seamless recommendations, all in
                    one place.</h4>
            </div>
        </div>
        <div class="algorithms">
            <div class="algoLeft">
                <div class="algoTitle">
                    <h2>Our Services</h2>
                </div>
                <div class="algoHolder">
                    <div class="algo">
                        <h4>Collaborative Filtering</h4>
                        <p>Recommend anime based on user behavior and similarities with other users, utilizing
                            collective data to provide personalized suggestions.</p>
                    </div>
                    <div class="algo">
                        <h4>Content Based Recommendation</h4>
                        <p> Suggest anime based on user preferences and characteristics of the content, focusing on
                            similarities in genres, themes, and styles.</p>
                    </div>
                    <div class="algo">
                        <h4>Popularity Based Recommendation</h4>
                        <p>Suggest popular anime titles based on overall popularity metrics, such as ratings, reviews,
                            and view counts.</p>
                    </div>
                    <div class="algo">
                        <h4>Mood & Genre Based Recommendation</h4>
                        <p>Recommend anime on basis of users current mood and also users favorite genre.</p>
                    </div>
                </div>
            </div>
            <div class="algoRight">
                <img src="css/images/gin.png" alt="">
            </div>
        </div>
        <div class="gallery">
            <img src="css/images/ss1.png" alt="" onclick="enlargeImage(this)">
            <img src="css/images/ss2.png" alt="" onclick="enlargeImage(this)">
            <img src="css/images/ss3.png" alt="" onclick="enlargeImage(this)">
            <img src="css/images/ss4.png" alt="" onclick="enlargeImage(this)">
            <img src="css/images/ss5.png" alt="" onclick="enlargeImage(this)">
            <img src="css/images/ss6.png" alt="" onclick="enlargeImage(this)">
        </div>
    </section>
    <footer>
        <div class="downFooter">
            <h4>© Made by Shuaib Afnan. All Rights Reserved</h4>
            <a href="#"><button><i class="fa-solid fa-arrow-up"></i></button></a>
        </div>
    </footer>
    <script src="js/jarallax.js"></script>
    <script src="js/index.js"></script>
    <script src="js/jarallax-element.js"></script>
</body>

</html>
