<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/skill.css">
    <script src="https://kit.fontawesome.com/0cdc049c53.js" crossorigin="anonymous"></script>
    <title>Afnan.</title>
</head>

<body>
    <header>
        <nav id="menu">
            <i class="fa-solid fa-circle-xmark" onclick="closemenu()"></i>
            <a href="/#home" class="logo">
                
            </a>
            <ul class="navigation">
                <li onclick="btn()"><a href="/#home">Home</a></li>
                <li onclick="btn()"><a href="/#about">About</a></li>
                <li onclick="btn()"><a href="/#skills">Skills</a></li>
                <li onclick="btn()"><a href="/#projects">Projects</a></li>
                <li><a href="/css/fonts/Pink Simple Profile Resume.pdf" download="">Resume</a></li>
            </ul>
        </nav>
        <i class="fa-solid fa-bars" onclick="openmenu()"></i>
    </header>
    <section>
        <div class="hero">
            <div class="heroLeft">
                <img src="css/images/coder.jpg" alt="">
            </div>
            <div class="heroRight">
                <h2>Feature engineer</h2>
                <p>As a feature engineer I analyze data, identify meaningful patterns, select relevant
                    variables, and engineer new features that enhance the performance of machine learning models.</p>
            </div>
        </div>
        <div class="content">
            <div class="contentLeft">
                <div class="contentLeftUp">
                    <h4>Enhancing ML models through data manipulation</h4>
                    <p>As a feature engineer i perform data cleaning, scaling, encoding categorical variables, feature
                        extraction, dimensionality reduction, and creating new features through mathematical
                        transformations or domain knowledge.</p>
                </div>
                <div class="contentLeftDown">
                    <div class="language">
                        <h4>01</h4>
                        <h4>Python</h4>
                    </div>
                    <div class="language">
                        <h4>02</h4>
                        <h4>My Sql/Mongo Db</h4>
                    </div>
                    <div class="language">
                        <h4>03</h4>
                        <h4>Power Bi/Excel</h4>
                    </div>
                    <div class="language">
                        <h4>04</h4>
                        <div>
                            <h4>Python Libararies</h4>
                            <h6>Pandas, Numpy, Sklearn, Matplotlib, Seaborn, Nltk</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contentRight">
                <img src="css/images/coder.jpg" alt="">
            </div>
        </div>
        <div class="projects">
            <div class="project">
                <div class="imgBx">
                    <img src="css/images/black-friday.jpg" alt="">
                </div>
                <div class="abtBx">
                    <h4>Black Friday Sale</h4>
                    <p>Performed feature engineering on the Black Friday Sale dataset by creating new variables,
                        encoding categorical features, and handling missing values for improved sales prediction.</p>
                    <a href="https://github.com/ShuaibAfnanSk/FeatureEngineering/tree/main/BlackFridaySale"><button class="cta">
                            <span class="hover-underline-animation"> Notebook Link </span>
                            <svg viewBox="0 0 46 16" height="10" width="30" xmlns="http://www.w3.org/2000/svg"
                                id="arrow-horizontal">
                                <path transform="translate(30)"
                                    d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z"
                                    data-name="Path 10" id="Path_10"></path>
                            </svg>
                        </button></a>
                </div>
            </div>
            <div class="project">
                <div class="imgBx">
                    <img src="css/images/titanic.jpg" alt="">
                </div>
                <div class="abtBx">
                    <h4>Titanic</h4>
                    <p>Conducted feature engineering on the Titanic dataset by creating new variables, handling missing
                        values, encoding categorical features, and exploring feature interactions to enhance passenger
                        survival prediction.</p>
                    <a href="https://github.com/ShuaibAfnanSk/FeatureEngineering/tree/main/Titanic"><button class="cta">
                            <span class="hover-underline-animation"> Notebook Link </span>
                            <svg viewBox="0 0 46 16" height="10" width="30" xmlns="http://www.w3.org/2000/svg"
                                id="arrow-horizontal">
                                <path transform="translate(30)"
                                    d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z"
                                    data-name="Path 10" id="Path_10"></path>
                            </svg>
                        </button></a>
                </div>
            </div>
            <div class="project">
                <div class="imgBx">
                    <img src="css/images/aeroplane.jpg" alt="">
                </div>
                <div class="abtBx">
                    <h4>Indian Aeroplane Routes Analysis</h4>
                    <p>Performed feature engineering for deriving additional features like distance, duration, and
                        information about connecting flights
                        to enrich analysis and modeling capabilities.</p>
                    <a href="https://github.com/ShuaibAfnanSk/FeatureEngineering/tree/main/flight-price"><button class="cta">
                            <span class="hover-underline-animation"> Notebook Link </span>
                            <svg viewBox="0 0 46 16" height="10" width="30" xmlns="http://www.w3.org/2000/svg"
                                id="arrow-horizontal">
                                <path transform="translate(30)"
                                    d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z"
                                    data-name="Path 10" id="Path_10"></path>
                            </svg>
                        </button></a>
                </div>
            </div>
            <div class="project">
                <div class="imgBx">
                    <img src="css/images/zomato.jpg" alt="">
                </div>
                <div class="abtBx">
                    <h4>Zomata Dataset Analysis</h4>
                    <p>Performed feature engineering for extracting relevant features such as cuisine type, rating, and
                        location information to enhance analysis and modeling.</p>
                    <a href="https://github.com/ShuaibAfnanSk/FeatureEngineering/tree/main/zomato"><button class="cta">
                            <span class="hover-underline-animation"> Notebook Link </span>
                            <svg viewBox="0 0 46 16" height="10" width="30" xmlns="http://www.w3.org/2000/svg"
                                id="arrow-horizontal">
                                <path transform="translate(30)"
                                    d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z"
                                    data-name="Path 10" id="Path_10"></path>
                            </svg>
                        </button></a>
                </div>
            </div>
            <div class="project">
                <div class="imgBx">
                    <img src="css/images/card.jpg" alt="">
                </div>
                <div class="abtBx">
                    <h4>Credit Card Fraud Detection</h4>
                    <p>Applied feature engineering techniques on the Credit Card Fraud Detection dataset, including
                        scaling numerical features, encoding categorical variables, handling imbalanced data, and
                        generating new features to improve fraud detection accuracy.</p>
                    <a href="https://github.com/ShuaibAfnanSk/FeatureEngineering/tree/main/creditcard"><button class="cta">
                            <span class="hover-underline-animation"> Notebook Link </span>
                            <svg viewBox="0 0 46 16" height="10" width="30" xmlns="http://www.w3.org/2000/svg"
                                id="arrow-horizontal">
                                <path transform="translate(30)"
                                    d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z"
                                    data-name="Path 10" id="Path_10"></path>
                            </svg>
                        </button></a>
                </div>
            </div>
        </div>
        <div class="others">
            <a href="/ml">
                <div class="skill">
                    <img src="css/images/ds-alt.jpg" alt="">
                </div>
            </a>
            <a href="/web">
                <div class="skill">
                    <img src="css/images/full-stack.jpg" alt="">
                </div>
            </a>
            <a href="/time">
                <div class="skill">
                    <img src="css/images/time.jpeg" alt="">
                </div>
            </a>
        </div>
    </section>
    <script src="js/jarallax.js"></script>
    <script src="js/index.js"></script>
    <script src="js/jarallax-element.js"></script>
</body>

</html>
