<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Afnan.</title>
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}"> -->
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jarallax.css') }}"> -->
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/jarallax.css">
    <script src="https://kit.fontawesome.com/0cdc049c53.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav id="menu">
            <i class="fa-solid fa-circle-xmark" onclick="closemenu()"></i>
            <a href="#" class="logo">
                <!-- <h4>Afnan.</h4> -->
            </a>
            <ul class="navigation">
                <li onclick="btn()"><a href="#home">Home</a></li>
                <li onclick="btn()"><a href="#about">About</a></li>
                <li onclick="btn()"><a href="#skills">Skills</a></li>
                <li onclick="btn()"><a href="#projects">Projects</a></li>
                <li><a href="/css/fonts/Pink Simple Profile Resume.pdf" download="">Resume</a></li>
            </ul>
        </nav>
        <i class="fa-solid fa-bars" onclick="openmenu()"></i>
    </header>

    <section id="home">
        <div class="hero">
            <div class="heroImg">
                <img src="css/images/laughing.jpg" alt="">
            </div>
            <div class="heroTxt">
                <h2>Data Scientist & Full stack web Developer</h2>
                <p>I develope robust web solutions while leveraging the power of data science to
                    extract meaningful insights and drive informed decision-making for businesses.</p>
            </div>
            <a href="#about"><button class="cta">
                    <span class="hover-underline-animation"> Know More </span>
                    <svg viewBox="0 0 46 16" height="10" width="30" xmlns="http://www.w3.org/2000/svg"
                        id="arrow-horizontal">
                        <path transform="translate(30)"
                            d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z" data-name="Path 10"
                            id="Path_10"></path>
                    </svg>
                </button></a>
        </div>
    </section>
    <section id="about">
        <div class="aboutBx">
            <div class="aboutLeft">
                
            </div>
            <div class="aboutMiddle">
                <a href="https://instagram.com/shuaib_11x?igshid=ZDdkNTZiNTM=" class="slide-in smallIcon"><ion-icon
                        name="logo-instagram"></ion-icon></a>
                <a href="https://twitter.com/shuaibafnan" class="slide-in smallIcon"><ion-icon name="logo-twitter"></ion-icon></a>
                <a href="https://github.com/SatoruGojo1110" class="slide-in smallIcon"><ion-icon name="logo-github"></ion-icon></a>
                <a href="https://www.linkedin.com/in/shuaib-afnan/" class="slide-in smallIcon"><ion-icon name="logo-linkedin"></ion-icon></a>
            </div>
            <div class="aboutRight">
                <h6>About</h6>
                <h4>Crafting web solutions and extracting insights through code and data</h4>
                <p>A Future Data Scientist Exploring the Ocean of Data Science, "I am a passionate data scientist and
                    web developer, dedicated to creating dynamic web pages while integrating end-to-end machine learning
                    models. With expertise in both fields, I strive to transform data into actionable insights and
                    deliver seamless user experiences through innovative web solutions."
                </p>
            </div>
        </div>
        <div class="language">
            <div class="icon slide-in">
                <div class="iconUp">
                    <i class="fa-solid fa-language"></i>
                    <ion-icon name="arrow-forward-circle-outline" class="arrow"></ion-icon>
                </div>
                <div class="iconDown">
                    <h2>English</h2>
                    <p>Professional Working Proficiency.</p>
                </div>
            </div>
            <div class="icon slide-in">
                <div class="iconUp">
                    <i class="fa-solid fa-language"></i>
                    <ion-icon name="arrow-forward-circle-outline" class="arrow"></ion-icon>
                </div>
                <div class="iconDown">
                    <h2>Hindi & Urdu</h2>
                    <p>Mother Tongue</p>
                </div>
            </div>
            <div class="icon slide-in">
                <div class="iconUp">
                    <i class="fa-solid fa-language"></i>
                    <ion-icon name="arrow-forward-circle-outline" class="arrow"></ion-icon>
                </div>
                <div class="iconDown">
                    <h2>Telugu</h2>
                    <p>Native Bilingual Proficiency.</p>
                </div>
            </div>
            <div class="icon slide-in">
                <div class="iconUp">
                    <i class="fa-solid fa-language"></i>
                    <ion-icon name="arrow-forward-circle-outline" class="arrow"></ion-icon>
                </div>
                <div class="iconDown">
                    <h2>Japanese</h2>
                    <p>Elementary Proficiency.</p>
                </div>
            </div>
        </div>
    </section>
    <section id="skills">
        <div class="projectHead">
            <h5>Skills and Roles</h5>
            <p>Skills that empower data-driven decisions and build captivating web experiences.</p>
        </div>
        <div class="skillBxleft skillBx">
            <a href="/fe">
                <div class="skill slide-in imgSkill">
                    <img src="css/images/coder.jpg" alt="">
                </div>
            </a>
            <a href="/ml">
                <div class="skill slide-in imgSkillAlt">
                    <img src="css/images/ds-alt.jpg" alt="">
                </div>
            </a>
            <a href="/web">
                <div class="skill slide-in imgSkill">
                    <img src="css/images/full-stack.jpg" alt="">
                </div>
            </a>
            <a href="/time">
                <div class="skill slide-in imgSkillAlt">
                    <img src="css/images/time.jpeg" alt="">
                </div>
            </a>
        </div>
        <div class="movingIcons">
            <div data-jarallax-element="0 -100"><img src="css/images/html.png" alt=""></div>
            <div data-jarallax-element="0 -100"><img src="css/images/css-3.png" alt=""></div>
            <div data-jarallax-element="0 -100"><img src="css/images/java-script.png" alt=""></div>
            <div data-jarallax-element="0 -100"><img src="css/images/physics.png" alt=""></div>
            <div data-jarallax-element="0 -100">
                <img src="css/images/python.png" alt="">
            </div>
            <div data-jarallax-element="0 -100">
                <img src="css/images/mongodb.png" alt="">
            </div data-jarallax-element="0 -100">
            <div data-jarallax-element="0 -100">
                <img src="css/images/nodejs.png" alt="">
            </div>
            <div data-jarallax-element="0 -100">
                <img src="css/images/excel.png" alt="">
            </div>
            <div data-jarallax-element="0 -100">
                <img src="css/images/django.png" alt="">
            </div>
            <div data-jarallax-element="0 -100">
                <img src="css/images/mysql.png" alt="">
            </div>
            <div data-jarallax-element="0 -100">
                <img src="css/images/flask.png" alt="">
            </div>
        </div>
    </section>
    <section id="projects">
        <div class="projectHead">
            <h5>Personal Projects</h5>
            <p>Here are my end to end Machine Learning and Deep Learning based Projects.</p>
        </div>
        <div class="project">
            <div class="imgBx jarallax">
                <img src="css/images/tanjirobg.jpg" alt="" class="jarallax-img">
            </div>
            <div class="projectTxt">
                <h2>Anime Alchemy</h2>
                <p>An All in One Anime Recommendation System with all 3 Recommender Algorithms along with Mood and
                    Genre based Recommender.</p>
                <a href="/anime"><button class="button">
                        <div class="svg-wrapper-1">
                            <div class="svg-wrapper">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                    <path fill="none" d="M0 0h24v24H0z"></path>
                                    <path fill="currentColor"
                                        d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z">
                                    </path>
                                </svg>
                            </div>
                        </div>
                        <span>Discover</span>
                    </button></a>
            </div>
        </div>
        <!-- <div class="project">
            <div class="imgBx jarallax">
                <img src="static/css/images/stock.jpg" alt="" class="jarallax-img">
            </div>
            <div class="projectTxt">
                <h2>Predictigo</h2>
                <p>A Machine Learning Predictive System With Several Popular Car's Stock, Boston House Price, Cancer
                    and Indian Flight Price Predictors.</p>
                <button class="button">
                    <div class="svg-wrapper-1">
                        <div class="svg-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                <path fill="none" d="M0 0h24v24H0z"></path>
                                <path fill="currentColor"
                                    d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z">
                                </path>
                            </svg>
                        </div>
                    </div>
                    <span>Discover</span>
                </button>
            </div>
        </div> -->
        <div class="project">
            <div class="imgBx jarallax">
                <img src="css/images/dynamic-5.jpg" alt="" class="jarallax-img">
            </div>
            <div class="projectTxt">
                <h2>Mart Alchemy</h2>
                <p>A Ecommerce Website which uses Deep Learning to recommend similar products using K-Nearest
                    Neighbor Algorithm.</p>
                <a href="/mart"><button class="button">
                        <div class="svg-wrapper-1">
                            <div class="svg-wrapper">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                    <path fill="none" d="M0 0h24v24H0z"></path>
                                    <path fill="currentColor"
                                        d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z">
                                    </path>
                                </svg>
                            </div>
                        </div>
                        <span>Discover</span>
                    </button></a>
            </div>
        </div>
    </section>
    <section id="hireMe">
        <h5>Like My Works ?</h5>
        <h2>Data Science & Full stack web Developement</h2>
        <!-- <h2>I Build Responsive Websites & Draw Meaningfull Insights</h2> -->
        <p>With my flexibility and knowledge in Data Science & Web Development, I might be a great help to your teams
            and organizations.</p>
        <a href="/contact"><button class="btn">
                Hire me
            </button></a>
    </section>
    <footer>
        <div class="downFooter">
            <h4>© Made by Shuaib Afnan. All Rights Reserved</h4>
            <a href="#home"><button><i class="fa-solid fa-arrow-up"></i></button></a>
        </div>
    </footer>
    <script src="js/jarallax.js"></script>
    <script src="js/index.js"></script>
    <script src="js/jarallax-element.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script>
        jarallax(document.querySelectorAll('.jarallax'), {
            speed: 0.2
        })
        const sliders = document.querySelectorAll(".slide-in");
        const appearOptions = {
            threshold: 0,
            rootMargin: "0px 0px -150px 0px"
        };
        const appearOnScroll = new IntersectionObserver(function (
            entries,
            appearOnScroll
        ) {
            entries.forEach(entry => {
                if (!entry.isIntersecting) {
                    return;
                } else {
                    entry.target.classList.add("show")
                    appearOnScroll.unobserve(entry.target)
                }
            });
        },
            appearOptions);

        sliders.forEach(slider => {
            appearOnScroll.observe(slider)
        });
    </script>
</body>

</html>
