<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/project.css">
    <script src="https://kit.fontawesome.com/0cdc049c53.js" crossorigin="anonymous"></script>
    <title>Afnan.</title>
</head>

<body>
    <header>
        <nav id="menu">
            <i class="fa-solid fa-circle-xmark" onclick="closemenu()"></i>
            <a href="/#home" class="logo">
               
            </a>
            <ul class="navigation">
                <li onclick="btn()"><a href="/#home">Home</a></li>
                <li onclick="btn()"><a href="/#about">About</a></li>
                <li onclick="btn()"><a href="/#skills">Skills</a></li>
                <li onclick="btn()"><a href="/#projects">Projects</a></li>
                <li><a href="/css/fonts/Pink Simple Profile Resume.pdf" download="">Resume</a></li>
            </ul>
        </nav>
        <i class="fa-solid fa-bars" onclick="openmenu()"></i>
    </header>
    <section>
        <div class="hero">
            <div class="heroTitle">
                <h2>Mart Alchemy</h2>
                <p>A end to end Ecommerce Website.</p>
            </div>
            <div class="heroBx">
                <div>
                    <h4>Made By</h4>
                    <h4>Shuaib Afnan</h4>
                </div>
                <div>
                    <h4>Github Repo</h4>
                    <a href="https://github.com/SatoruGojo1110/My_ecommerce_website"><h4>Click Here</h4></a>
                </div>
                <div>
                    <h4>Made With</h4>
                    <h4>Flask</h4>
                </div>
                <div>
                    <h4>Algorithm</h4>
                    <h4>K-Nearest Neighbor</h4>
                </div>
            </div>
            <div class="heroImg">
                <img src="css/images/dynamic-5.jpg" alt="">
            </div>
        </div>
        <div class="content">
            <div class="desc">
                <h5>challenge</h5>
                <h4> Developing an e-commerce website using deep learning and machine learning algorithms while ensuring
                    accurate product recommendations and personalized user experiences.</h4>
            </div>
            <div class="desc">
                <h5>Goal</h5>
                <h4>Increase sales conversion rates and customer satisfaction by leveraging advanced algorithms to
                    provide relevant and engaging shopping experiences.</h4>
            </div>
            <div class="desc">
                <h5>Result</h5>
                <h4> E-commerce website that incorporates dl and ml algorithms, offering accurate product
                    recommendations and personalized user experiences and satisfaction.</h4>
            </div>
        </div>
        <div class="algorithms">
            <div class="algoLeft">
                <div class="algoTitle">
                    <h2>Our Services</h2>
                </div>
                <div class="algoHolder">
                    <div class="algo">
                        <h4>Product Recommendations</h4>
                        <p>Get recommended with similar products for products you like and want to buy.</p>
                    </div>
                    <div class="algo">
                        <h4>Customer Reviews and Ratings</h4>
                        <p>Read and contribute to authentic customer reviews and ratings, helping you make informed
                            purchase decisions.</p>
                    </div>
                    <div class="algo">
                        <h4>Diverse Product Range</h4>
                        <p>Explore a wide variety of products across different categories, ensuring that you can find
                            exactly what you're looking for, no matter your preferences or needs.</p>
                    </div>
                    <div class="algo">
                        <h4>Seamless Checkout Process</h4>
                        <p>Enjoy a smooth and hassle-free checkout process, ensuring a convenient and secure purchase
                            experience.</p>
                    </div>
                </div>
            </div>
            <div class="algoRight">
                <img src="css/images/martimg.jpeg" alt="">
            </div>
        </div>
        <div class="gallery">
            <img src="css/images/martss1.jpg" alt="" onclick="enlargeImage(this)">
            <img src="css/images/martss2.jpg" alt="" onclick="enlargeImage(this)">
            <img src="css/images/martss3.jpg" alt="" onclick="enlargeImage(this)">
            <img src="css/images/martss4.jpg" alt="" onclick="enlargeImage(this)">
            <img src="css/images/martss5.jpg" alt="" onclick="enlargeImage(this)">
            <img src="css/images/martss6.jpg" alt="" onclick="enlargeImage(this)">
        </div>
    </section>

    <script src="js/jarallax.js"></script>
    <script src="js/index.js"></script>
    <script src="js/jarallax-element.js"></script>
</body>

</html>
