<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/0cdc049c53.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/skill.css">
    <title>Afnan.</title>
</head>

<body>
    <header>
        <nav id="menu">
            <i class="fa-solid fa-circle-xmark" onclick="closemenu()"></i>
            <a href="/#home" class="logo">
                
            </a>
            <ul class="navigation">
                <li onclick="btn()"><a href="/#home">Home</a></li>
                <li onclick="btn()"><a href="/#about">About</a></li>
                <li onclick="btn()"><a href="/#skills">Skills</a></li>
                <li onclick="btn()"><a href="/#projects">Projects</a></li>
                <li><a href="/css/fonts/Pink Simple Profile Resume.pdf" download="">Resume</a></li>
            </ul>
        </nav>
        <i class="fa-solid fa-bars" onclick="openmenu()"></i>
    </header>
    <section>
        <div class="hero">
            <div class="heroLeft">
                <img src="css/images/ds-alt.jpg" alt="">
            </div>
            <div class="heroRight">
                <h2>Machine Learning</h2>
                <p>As a ML engineer i develope and deploy machine learning models, optimizing
                    their performance, managing data pipelines, to solve
                    real-world problems and drive innovation.</p>
            </div>
        </div>
        <div class="content">
            <div class="contentLeft">
                <div class="contentLeftUp">
                    <h4>Building and optimizing ML models</h4>
                    <p>As a ML engineer I perform methods such as data preprocessing, feature engineering, model
                        selection
                        and training, evaluation, deployment, monitoring, and collaboration to develop and deploy
                        effective machine learning solutions.</p>
                </div>
                <div class="contentLeftDown">
                    <div class="language">
                        <h4>01</h4>
                        <h4>Machine Learning</h4>
                    </div>
                    <div class="language">
                        <h4>02</h4>
                        <h4>Deep Learning</h4>
                    </div>
                    <div class="language">
                        <h4>03</h4>
                        <h4>Natural Language Processing</h4>
                    </div>
                    <div class="language">
                        <h4>04</h4>
                        <div>
                            <h4>Python Libararies</h4>
                            <h6>Sklearn, Tensorflow, Pytorch, Nltk, spacy</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contentRight">
                <img src="css/images/ds-alt.jpg" alt="">
            </div>
        </div>
        <div class="projects">
            <div class="project">
                <div class="imgBx">
                    <img src="css/images/sentiment.jpg" alt="">
                </div>
                <div class="abtBx">
                    <h4>Email Spam Classifier</h4>
                    <p>Created a Spam Classifier model that can analyze text data and determine whether a email or sms is spam or ham 
                        to classify all incoming emails and sms correctly..
                    </p>
                    <a href="https://github.com/ShuaibAfnanSk/MachineLearning/tree/main/SpamClassifier"><button class="cta">
                            <span class="hover-underline-animation"> Github Code </span>
                            <svg viewBox="0 0 46 16" height="10" width="30" xmlns="http://www.w3.org/2000/svg"
                                id="arrow-horizontal">
                                <path transform="translate(30)"
                                    d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z"
                                    data-name="Path 10" id="Path_10"></path>
                            </svg>
                        </button></a>
                </div>
            </div>
            <div class="project">
                <div class="imgBx">
                    <img src="css/images/movie.jpg" alt="">
                </div>
                <div class="abtBx">
                    <h4>Movie Recommendation System</h4>
                    <p>Designed a movie recommendation system using collaborative filtering techniques to suggest
                        personalized movie recommendations based on user preferences and past interactions.</p>
                    <a href="https://github.com/ShuaibAfnanSk/MachineLearning/tree/main/Movie_project/Datasets"><button class="cta">
                            <span class="hover-underline-animation"> Github Code </span>
                            <svg viewBox="0 0 46 16" height="10" width="30" xmlns="http://www.w3.org/2000/svg"
                                id="arrow-horizontal">
                                <path transform="translate(30)"
                                    d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z"
                                    data-name="Path 10" id="Path_10"></path>
                            </svg>
                        </button></a>
                </div>
            </div>
            <div class="project">
                <div class="imgBx">
                    <img src="css/images/cat.jpg" alt="">
                </div>
                <div class="abtBx">
                    <h4>Cat and Dog Image Classifier</h4>
                    <p>Built an image classifier using deep learning to classify images of cats and dogs, enabling
                        accurate identification of the subject in images</p>
                    <a href="https://colab.research.google.com/drive/1tnjfbbbJqbohi2aMB2d-q898VXjMLRUw?usp=sharing"><button class="cta">
                            <span class="hover-underline-animation"> Github Code </span>
                            <svg viewBox="0 0 46 16" height="10" width="30" xmlns="http://www.w3.org/2000/svg"
                                id="arrow-horizontal">
                                <path transform="translate(30)"
                                    d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z"
                                    data-name="Path 10" id="Path_10"></path>
                            </svg>
                        </button></a>
                </div>
            </div>
        </div>
        <div class="others">
            <a href="/fe">
                <div class="skill">
                    <img src="css/images/coder.jpg" alt="">
                </div>
            </a>
            <a href="/web">
                <div class="skill">
                    <img src="css/images/full-stack.jpg" alt="">
                </div>
            </a>
            <a href="/time">
                <div class="skill">
                    <img src="css/images/time.jpeg" alt="">
                </div>
            </a>
        </div>
    </section>
    <footer>
        <div class="downFooter">
            <h4>© Made by Shuaib Afnan. All Rights Reserved</h4>
            <a href="#"><button><i class="fa-solid fa-arrow-up"></i></button></a>
        </div>
    </footer>
    <script src="js/jarallax.js"></script>
    <script src="js/index.js"></script>
    <script src="js/jarallax-element.js"></script>
</body>

</html>