<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/skill.css">
    <script src="https://kit.fontawesome.com/0cdc049c53.js" crossorigin="anonymous"></script>
    <title>Afnan.</title>
</head>

<body>
    <header>
        <nav id="menu">
            <i class="fa-solid fa-circle-xmark" onclick="closemenu()"></i>
            <a href="/#home" class="logo">
               
            </a>
            <ul class="navigation">
                <li onclick="btn()"><a href="/#home">Home</a></li>
                <li onclick="btn()"><a href="/#about">About</a></li>
                <li onclick="btn()"><a href="/#skills">Skills</a></li>
                <li onclick="btn()"><a href="/#projects">Projects</a></li>
                <li><a href="/css/fonts/Pink Simple Profile Resume.pdf" download="">Resume</a></li>
            </ul>
        </nav>
        <i class="fa-solid fa-bars" onclick="openmenu()"></i>
    </header>
    <section>
        <div class="hero">
            <div class="heroLeft">
                <img src="css/images/time.jpeg" alt="">
            </div>
            <div class="heroRight">
                <h2>Time Series Analyst</h2>
                <p>As a time series analyst I analyze and interpret time-dependent data, identify
                    patterns, and make accurate predictions using statistical methods and modeling techniques.</p>
            </div>
        </div>
        <div class="content">
            <div class="contentLeft">
                <div class="contentLeftUp">
                    <h4>Analyzing and Foresacting Time Dependent Data</h4>
                    <p>As a Time Series Analyst i perform Methods such as decomposition,
                        smoothing techniques (such as moving averages and exponential smoothing), autocorrelation
                        analysis, ARIMA models, state space models, and machine learning algorithms specific to time
                        series data (e.g., LSTM neural networks).</p>
                </div>
                <div class="contentLeftDown">
                    <div class="language">
                        <h4>01</h4>
                        <h4>Python</h4>
                    </div>
                    <div class="language">
                        <h4>02</h4>
                        <h4>Machine Learning</h4>
                    </div>
                    <div class="language">
                        <h4>03</h4>
                        <h4>Deep Learning</h4>
                    </div>
                    <div class="language">
                        <h4>04</h4>
                        <div>
                            <h4>Python Libararies</h4>
                            <h6>Tensorflow, Sklearn, Matplotlib, Seaborn</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contentRight">
                <img src="css/images/time.jpeg" alt="">
            </div>
        </div>
        <div class="projects">
            <div class="project">
                <div class="imgBx">
                    <img src="css/images/tesla.jpg" alt="">
                </div>
                <div class="abtBx">
                    <h4>Tesla Stock Price</h4>
                    <p>Performed time series analysis on the Tesla Stock price dataset to identify trends, seasonality, and
                        forecast future prices in the tesla stock market.</p>
                    <a href="https://github.com/ShuaibAfnanSk/TimeSeries/tree/main/Tesla"><button class="cta">
                            <span class="hover-underline-animation"> Notebook Link </span>
                            <svg viewBox="0 0 46 16" height="10" width="30" xmlns="http://www.w3.org/2000/svg"
                                id="arrow-horizontal">
                                <path transform="translate(30)"
                                    d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z"
                                    data-name="Path 10" id="Path_10"></path>
                            </svg>
                        </button></a>
                </div>
            </div>
            <div class="project">
                <div class="imgBx">
                    <img src="css/images/well.jpg" alt="">
                </div>
                <div class="abtBx">
                    <h4>Water Well Level and Volume</h4>
                    <p>Applied time series analysis techniques on the water well level and volume dataset to assess
                        groundwater trends, predict future levels, and optimize water resource management strategies.
                    </p>
                    <a href="https://github.com/ShuaibAfnanSk/TimeSeries/tree/main/Waterwell"><button class="cta">
                            <span class="hover-underline-animation"> Notebook Link </span>
                            <svg viewBox="0 0 46 16" height="10" width="30" xmlns="http://www.w3.org/2000/svg"
                                id="arrow-horizontal">
                                <path transform="translate(30)"
                                    d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z"
                                    data-name="Path 10" id="Path_10"></path>
                            </svg>
                        </button></a>
                </div>
            </div>
            <!-- <div class="project">
                <div class="imgBx">
                    <img src="static/css/images/weather.jpg" alt="">
                </div>
                <div class="abtBx">
                    <h4>Delhi Weather</h4>
                    <p>Conducted time series analysis on the Delhi weather dataset to analyze temperature,
                        precipitation, and other weather patterns, aiding in climate forecasting and understanding local
                        weather dynamics.</p>
                    <a href="#"><button class="cta">
                            <span class="hover-underline-animation"> Notebook Link </span>
                            <svg viewBox="0 0 46 16" height="10" width="30" xmlns="http://www.w3.org/2000/svg"
                                id="arrow-horizontal">
                                <path transform="translate(30)"
                                    d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z"
                                    data-name="Path 10" id="Path_10"></path>
                            </svg>
                        </button></a>
                </div>
            </div> -->
        </div>
        <div class="others">
            <a href="/fe"><div class="skill">
                <img src="css/images/coder.jpg" alt="">
            </div></a>
            <a href="/ml"><div class="skill">
                <img src="css/images/ds-alt.jpg" alt="">
            </div></a>
            <a href="/web"><div class="skill">
                <img src="css/images/full-stack.jpg" alt="">
            </div></a>
        </div>
    </section>
    <script src="js/jarallax.js"></script>
    <script src="js/index.js"></script>
    <script src="js/jarallax-element.js"></script>
</body>

</html>
