<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/skill.css">
    <script src="https://kit.fontawesome.com/0cdc049c53.js" crossorigin="anonymous"></script>
    <title>Afnan.</title>
</head>

<body>
    <header>
        <nav id="menu">
            <i class="fa-solid fa-circle-xmark" onclick="closemenu()"></i>
            <a href="/#home" class="logo">

            </a>
            <ul class="navigation">
                <li onclick="btn()"><a href="/#home">Home</a></li>
                <li onclick="btn()"><a href="/#about">About</a></li>
                <li onclick="btn()"><a href="/#skills">Skills</a></li>
                <li onclick="btn()"><a href="/#projects">Projects</a></li>
                <li><a href="/css/fonts/Pink Simple Profile Resume.pdf" download="">Resume</a></li>
            </ul>
        </nav>
        <i class="fa-solid fa-bars" onclick="openmenu()"></i>
    </header>
    <section>
        <div class="hero">
            <div class="heroLeft">
                <img src="css/images/full-stack.jpg" alt="">
            </div>
            <div class="heroRight">
                <h2>Full Stack Web Developer</h2>
                <p>As a full stack web developer I handle both front-end and back-end development, ensuring seamless and
                    functional web applications.</p>
            </div>
        </div>
        <div class="content">
            <div class="contentLeft">
                <div class="contentLeftUp">
                    <h4>Creating seamless web applications from scratch</h4>
                    <p>As a Web Devbeloper I am responsible for designing and implementing the user interface,
                        developing
                        server-side logic, managing databases, and ensuring smooth functionality and performance of the
                        entire web application</p>
                </div>
                <div class="contentLeftDown">
                    <div class="language">
                        <h4>01</h4>
                        <h4>HTML/CSS</h4>
                    </div>
                    <div class="language">
                        <h4>02</h4>
                        <h4>My Sql/Mongo Db</h4>
                    </div>
                    <div class="language">
                        <h4>03</h4>
                        <h4>JavaScript/Node Js</h4>
                    </div>
                    <div class="language">
                        <h4>04</h4>
                        <h4>Flask/Django</h4>
                    </div>
                </div>
            </div>
            <div class="contentRight">
                <img src="css/images/full-stack.jpg" alt="">
            </div>
        </div>
        <div class="projects">
            <div class="project">
                <div class="imgBx">
                    <img src="css/images/travel.jpg" alt="">
                </div>
                <div class="abtBx">
                    <h4>tourism Website</h4>
                    <p> Created a captivating travel website showcasing destinations, attractions
                        providing a seamless user experience and inspiring wanderlust for travelers.</p>
                    <a href="https://odyssey-alchemy.netlify.app/"><button>
                            <div class="svg-wrapper-1">
                                <div class="svg-wrapper">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                        <path fill="none" d="M0 0h24v24H0z"></path>
                                        <path fill="currentColor"
                                            d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z">
                                        </path>
                                    </svg>
                                </div>
                            </div>
                            <span>Website</span>
                        </button></a>
                </div>
            </div>
            <div class="project">
                <div class="imgBx">
                    <img src="css/images/slide6.jpg" alt="">
                </div>
                <div class="abtBx">
                    <h4>Property Website</h4>
                    <p> Made a dynamic Property website featuring rental and buyable propertie, with
                        an interactive user interface to enhance the surfing experience..</p>

                    <a href="https://alchemy-fusion.netlify.app/"><button>
                            <div class="svg-wrapper-1">
                                <div class="svg-wrapper">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                        <path fill="none" d="M0 0h24v24H0z"></path>
                                        <path fill="currentColor"
                                            d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z">
                                        </path>
                                    </svg>
                                </div>
                            </div>
                            <span>Website</span>
                        </button></a>
                </div>
            </div>
            <div class="project">
                <div class="imgBx">
                    <img src="css/images/company.jpg" alt="">
                </div>
                <div class="abtBx">
                    <h4>Company Protfolio</h4>
                    <p>Made a portfolio website for an organization, highlighting their services,
                        achievements, and team members, And hiring portal for applying job.</p>

                    <a href="https://alchmey.netlify.app/"><button>
                            <div class="svg-wrapper-1">
                                <div class="svg-wrapper">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                        <path fill="none" d="M0 0h24v24H0z"></path>
                                        <path fill="currentColor"
                                            d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z">
                                        </path>
                                    </svg>
                                </div>
                            </div>
                            <span>Website</span>
                        </button></a>
                </div>
            </div>
        </div>
        <div class="others">
            <a href="/fe">
                <div class="skill">
                    <img src="css/images/coder.jpg" alt="">
                </div>
            </a>
            <a href="/ml">
                <div class="skill">
                    <img src="css/images/ds-alt.jpg" alt="">
                </div>
            </a>
            <a href="/time">
                <div class="skill">
                    <img src="css/images/time.jpeg" alt="">
                </div>
            </a>
        </div>
    </section>
    <script src="js/jarallax.js"></script>
    <script src="js/index.js"></script>
    <script src="js/jarallax-element.js"></script>
</body>

</html>